--
-- PostgreSQL database dump
--

-- Dumped from database version 14.7
-- Dumped by pg_dump version 14.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer (
    email character varying(255) NOT NULL,
    name character varying(255),
    member_status character varying(50)
);


ALTER TABLE public.customer OWNER TO postgres;

--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    brand character varying(255) NOT NULL,
    model_number character varying(255) NOT NULL,
    series character varying(255),
    gender character varying(50),
    colour character varying(50),
    luminous character varying(50),
    calendar character varying(255),
    water_resistant character varying(255),
    case_diameter_mm numeric,
    strap_material character varying(255)
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: product_service; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_service (
    brand character varying(255) NOT NULL,
    model_number character varying(255) NOT NULL,
    service_center_name character varying(255) NOT NULL
);


ALTER TABLE public.product_service OWNER TO postgres;

--
-- Name: review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review (
    id_review integer NOT NULL,
    product_name character varying(255),
    email character varying(255),
    date date,
    "time" time without time zone,
    rating integer,
    delivery_review text,
    product_review text
);


ALTER TABLE public.review OWNER TO postgres;

--
-- Name: review_id_review_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.review_id_review_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.review_id_review_seq OWNER TO postgres;

--
-- Name: review_id_review_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.review_id_review_seq OWNED BY public.review.id_review;


--
-- Name: sales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales (
    product_name character varying(255) NOT NULL,
    brand character varying(255),
    model character varying(255),
    normal_price numeric,
    discounted_price numeric,
    discount_percentage numeric,
    num_seen integer,
    num_sold integer,
    online_stock_status character varying(50),
    offline_stock_status character varying(50)
);


ALTER TABLE public.sales OWNER TO postgres;

--
-- Name: service_center; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.service_center (
    name character varying(255) NOT NULL,
    address character varying(255),
    telephone character varying(50),
    open_time character varying(255)
);


ALTER TABLE public.service_center OWNER TO postgres;

--
-- Name: review id_review; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review ALTER COLUMN id_review SET DEFAULT nextval('public.review_id_review_seq'::regclass);


--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_service; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_service (brand, model_number, service_center_name) FROM stdin;
\.


--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: service_center; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.service_center (name, address, telephone, open_time) FROM stdin;
\.


--
-- Name: review_id_review_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.review_id_review_seq', 1546, true);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (email);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (brand, model_number);


--
-- Name: product_service product_service_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_service
    ADD CONSTRAINT product_service_pkey PRIMARY KEY (brand, model_number, service_center_name);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id_review);


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (product_name);


--
-- Name: service_center service_center_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_center
    ADD CONSTRAINT service_center_pkey PRIMARY KEY (name);


--
-- Name: product_service product_service_brand_model_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_service
    ADD CONSTRAINT product_service_brand_model_number_fkey FOREIGN KEY (brand, model_number) REFERENCES public.product(brand, model_number);


--
-- Name: product_service product_service_service_center_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_service
    ADD CONSTRAINT product_service_service_center_name_fkey FOREIGN KEY (service_center_name) REFERENCES public.service_center(name);


--
-- Name: review review_email_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_email_fkey FOREIGN KEY (email) REFERENCES public.customer(email);


--
-- Name: review review_product_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_product_name_fkey FOREIGN KEY (product_name) REFERENCES public.sales(product_name);


--
-- Name: sales sales_brand_model_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_brand_model_fkey FOREIGN KEY (brand, model) REFERENCES public.product(brand, model_number);


--
-- PostgreSQL database dump complete
--

